<!-- views/partials/header.handlebars -->        

<header>
  <div class="dd">
    <img src="/img/logo.jpg" alt="logo"><h1>BasketHoopers</h1>
  </div>

  <div>
    <nav>
      <ul>
        <li><a class="botones" href="/">Inicio</a></li>
        <li><a class="botones" href="/sobre">Jugadores</a></li>
      </ul>
    </nav>
  </div>
 
</header>
